body{
    margin: 0;
    padding: 0;
    font-family: 'Open sans',sans-serif;
}
#navbar{
    position: fixed;
    width: 290px;
    height: 88%;
    top: 0;
    left: 0;
    border-right: 2px solid gray;
    z-index: 1;
}
#navbar header{
    display: block;
    font-size: 32px;
    font-weight: 600;
    margin: 15px;
}
#navbar ul{
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    border: 2px solid black;
    overflow: auto;
}
#navbar li{
    font-size: 20px;
    border-bottom: 1px solid;
}
.nav-link{
    display: block;
    padding: 11px 15px;
    text-decoration: none;
    color: black;
}
#main-doc{
    margin-left: 290px;
    padding: 20px;
}
.main-section header{
    font-size: 25px;
    font-weight: 600;
    padding: 20px
}
p{
    line-height: 1.5;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 10px 25px;
}
.main-section ul{
    padding-left: 50px;
    margin-left: 40px;
}
code{
    display: block;
    background-color: rgba(250, 250, 250, 0.911);
    padding: 10px 330px 10px 10px;
    width: 62.5%;
    height: 100%;
    margin: 10px 0px 10px 40px;
    line-height: 2;
}